* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/bg.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121214;
    background-size: cover;
}

main * {
    border: 1px solid red;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
}


